  
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
}
nav {
	background: #2a48a8;
	height: 60px;
	width: 100%;
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 60px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 60px;
	margin: 0 -1px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 20px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a:hover {
	background: #1d075f;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
    display: none;
}

#nome{
	font-size: 40px;
	font-family: 'Train One', cursive;
}
.prim_parte{
	position: absolute;
	top: 90px;
	left: 30px;
}

@media (max-width: 984px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 60px;
		left: -100%;
		text-align: center;
		transition: .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover{
		background: none;
		color: #3a0fb1;
	}
	#check:checked ~ ul {
		left: 0;
	}
}