@charset "UTF-8";

body {
		background-color: white;
		color: rgba(0,0,0,1);
		}
		p {
			text-align: justify;
			tex-indent: 50px;
		}

/*Formatação de imagens com  legenda*/
figure.foto {
			position: relative;
			border: 8px solid white; 
			width: 40%;
			box-shadow: 1px 1px 4px black;
}
figure.foto img {
				width: 100%;
				height: 100%;
}
figure.foto figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color :rgba(0,0,0,.7);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto:hover figcaption{
	opacity: 1;
}

